      /* Normalize box-sizing */
      div, ul, li, a, section, nav, h1, h2, h3, h4, h5, h6, hr, input, textarea, footer, header {
          box-sizing: border-box;
          margin: 0;
          padding: 0;
      }
      ol, ul {
          list-style: outside none none;
      }      
      small {
          font-size: smaller;
      }
      h2 {
          padding: 20px;
      }
      /* Style input */
      input[type="text"], input[type="search"], textarea {
          background-color: white;
          border: 1px solid #cccccc;
          border-radius: 2px;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
          color: rgba(0, 0, 0, 0.75);
          display: block;
          font-family: inherit;
          height: 56px;
          padding: 7px;
          width: 100%;
      }
      body, input, textarea {
          color: rgba(0, 0, 0, 0.75);
          font: 15px/20px "open_sansregular",sans-serif;
      }
      /* Set map size */
      .map {
          height: 600px;
          width: 100%;
      }
      /* Set parameters on controls (geocoder and reverse)*/
      input.photon-input {
          width: 400px;
      }
      .ol-photon-geocoder {
          left: calc(50% - 200px);
          top: 0.5em;
      }
      .ol-photon-reverse-geocoder {
          background: none repeat scroll 0 0 white;
          bottom: 0.5em;
          left: calc(50% - 200px);
          padding: 10px;
          text-align: center;
          width: 400px;
      }